<div class="row d-flex justify-content-sm-center">
    <mat-card class="card2 m-2 my-3 red col-12 col-md-2 card-prod " *ngFor="let produto of produtos; let i = index">
          
        <div class="row">
            <div class="col-6 col-sm-12">
                <img class="img-card-roduto rounded mx-auto d-block card-img" title="Ver detalhes do produto"
                (mouseover)='temp[i] = true' (mouseout)='temp[i] = false' src="{{imagens}}/{{ produto.imagem1 }}"
                onerror="this.src = 'https://cdn.neemo.com.br/uploads/settings_webdelivery/logo/996/notfound.png' "
                [routerLink]="['/page/detalhes',produto.id]">
            </div>
            <div class="col-6 col-sm-12">
                <div class="">

                    <div *ngIf="temp[i]" class="card-carrinho7 p-32 m-3">
        
                        <button mat-raised-button color="warn"> Abrir Detalhes
                            <br>
                            <i class="fa-solid fa-tags img-carrinho"></i></button>
        
                    </div>
                    <div class="card-body5 my-1 p-2" *ngIf="!temp[i] && !temp_carrinho[i]">
        
                        <div class="card-title5 desc-card-produto" [routerLink]="['/page/detalhes',produto.id]">
                          {{ produto.nome }} <br>
                           
                        </div>
                        <span class="preco m-4"> {{produto.precoVenda | currency:'BRL':true }} </span>
                    </div>
                </div>
                <button mat-raised-button class="comprar" color="warn" [disabled]="produto.quantidadeDisponivel < 1" (click)="adcionarCarrinho(produto)"><i
                        class="fa-solid fa-cart-shopping "></i> 
                        <span *ngIf="produto.quantidadeDisponivel < 1" > Indisponivel </span>
                        <span *ngIf="produto.quantidadeDisponivel > 0" >  Comprar </span>
                      </button>
                        <br>
                        
            </div>
        </div> 
    </mat-card>
</div>