<div class="container main-container">
  
    <div class="row">
    <div class=" col-sm-2 col-12 ">
        <app-menu-adm [menuActive]="'produto'"> </app-menu-adm>
    </div>
    <div class="col-sm-10 col-12"> 

        <br>
    <h3> {{ produto.nome }} </h3>
    <br>

    <div class="row">
        <div class="col-md-6">
            <img src="{{imagens}}/{{ produto.imagem1 }}" style="width: 300px; height: 428px">
        </div>
        <div class="col-md-6">
            <dl>
                <dt>
                    Fornecedor
                </dt>
                <dd>
                    {{ produto.fornecedor.nome }}
                </dd>
                <dt>
                    Nome
                </dt>
                <dd>
                    {{ produto.nome }}
                </dd>
                <dt>
                    Descrição
                </dt>
                <dd>
                    {{ produto.descricao }}
                </dd>
                <dt>
                    Valor
                </dt>
                <dd>
                    {{ produto.precoVenda | currency:'BRL':true}}
                
                </dd>
                <dt>
                    DataCadastro
                </dt>
                <dd>
                    {{ produto.dataCadastro | date:'dd/MM/yyyy' }}
                </dd>
                <dt>
                    Ativo?
                </dt>
                <dd>
                    <input [checked]="produto.ativo" class="check-box" disabled="disabled" type="checkbox">
                </dd>
            </dl>

            <div>
                <a class="btn btn-warning" [routerLink]="['/adm/produtos/editar',produto.id]">Editar</a>&nbsp;
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </div>
    </div>

</div>

</div>
</div>