
<app-menu-categoria class="m-3"> </app-menu-categoria>    
    
<div class="container-fluid main-container  ">
    <div class="row text-center">
   
        <div class="row d-flex justify-content-center">
       

            <div class="card m-2 red" title="Adicionar ao carrinho" style="width: 18rem;"   *ngFor="let produto of produtos">
                <img class="img-card-roduto rounded mx-auto d-block" src="{{imagens}}/{{ produto.imagem1 }}"
                onerror="this.src = 'https://cdn.neemo.com.br/uploads/settings_webdelivery/logo/996/notfound.png' "
                style="width: 50px; height: 70px">
                <div class="card-body5  " >
                     <div class="card-title5 desc-card-produto">{{ produto.nome }}</div> 
                </div>
              </div>

</div>
</div>
<!-- Fim Content -->




<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/adm/fornecedores/listar-todos']">Fornecedores</a>
    </li>
    <li class=" nav-item ">
        <a class="nav-link  " [routerLink]="['/adm/produtos/listar-todos']">Produtos</a>
    </li>
    <li class=" nav-item ">
        <a class="nav-link " [routerLink]="['/adm/categoria/listar-todos']">Categorias</a>
    </li>
</ul>