<app-menu-categoria class="m-3"> </app-menu-categoria>

<div class="container-fluid main-container  ">
    <div class="row text-center">

        <div class="row d-flex justify-content-sm-center">


            <div class="card m-2 my-3 red col-12 col-md-2 card-prod " *ngFor="let produto of produtos; let i = index">

                <img class="img-card-roduto rounded mx-auto d-block card-img" title="Ver detalhes do produto"
                    (mouseover)='temp[i] = true' (mouseout)='temp[i] = false' src="{{imagens}}/{{ produto.imagem1 }}"
                    onerror="this.src = 'https://cdn.neemo.com.br/uploads/settings_webdelivery/logo/996/notfound.png' ">


                <div class="">

                    <!--    <div *ngIf="temp_carrinho[i]" class="card-carrinho mt-3"> ADICIONAR PRODUTO AO CARRINHO
                    </div>
                     -->
                    <div *ngIf="temp[i]" class="card-carrinho p-3 mt-3"> DETALHES DO PRODUTO 
                        <br>
                        <i class="fa-solid fa-tags img-carrinho"></i>
                    </div>

                    <div class="card-body5" *ngIf="!temp[i] && !temp_carrinho[i]">
                        <div class="card-title5 desc-card-produto">
                            {{ produto.nome }} <br>
                            <span class="preco"> {{produto.precoVenda | currency:'BRL':true }} </span>
                        </div>
                    </div>

                </div>
                <div class="card-carrinho mt-1 p-1  img-carrinho">
                    <i class="fa-solid fa-cart-shopping "></i>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Fim Content -->




<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [routerLink]="['/adm/fornecedores/listar-todos']">Fornecedores</a>
    </li>
    <li class=" nav-item ">
        <a class="nav-link  " [routerLink]="['/adm/produtos/listar-todos']">Produtos</a>
    </li>
    <li class=" nav-item ">
        <a class="nav-link " [routerLink]="['/adm/categoria/listar-todos']">Categorias</a>
    </li>
</ul>