<app-menu-categoria class="m-3"> </app-menu-categoria>

<div class="container-fluid main-container  ">
    <div class="row text-center">
        
            <app-card-produto [produtos]="produtos"> </app-card-produto>
     

    </div>
</div>
<!-- Fim Content -->


<h3>Fab Buttons</h3>
<div class="example-button-row">
  <button mat-fab>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>
  <button mat-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <a mat-fab routerLink=".">Link</a>
</div>
