<div class="mb-3"> 
<span class="align-bottom font-weight-bold text-danger">Menu Adm:</span>
<div class="list-group ">
    <a [routerLink]="['/adm/produtos/listar-todos']" class="list-group-item list-group-item-action btn-menu-adm" [ngClass]="{'btn-active-adm': menuActive === 'produto' }">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>  Produtos
    </a>
    <a [routerLink]="['/adm/fornecedores/listar-todos']" class="list-group-item list-group-item-action btn-menu-adm " [ngClass]="{'btn-active-adm': menuActive === 'fornecedor' }"> 
        <i class="fa fa-users" aria-hidden="true"></i> Fornecedores</a>
   
        <a [routerLink]="['/adm/categoria/listar-todos']" class="list-group-item list-group-item-action btn-menu-adm " [ngClass]="{'btn-active-adm': menuActive === 'categoria' }"> <i class="fa fa-tags" aria-hidden="true">
    </i> Categorias</a>
   
    <a [routerLink]="['/adm/sobre/info']" class="list-group-item list-group-item-action btn-menu-adm " [ngClass]="{'btn-active-adm': menuActive === 'sobre' }"> 
        <i class="fa fa-cog" aria-hidden="true"></i> Sobre</a>
  </div>

</div>

