<div class="container main-container">
    
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#6f87e0" type = "ball-circus" [fullScreen] = "true">
        <p style="color: white" > Carregando </p></ngx-spinner>
    
        <div class="row">
            <div class="col-sm-2 col-12 ">
                <app-menu-adm [menuActive]="'fornecedor'"> </app-menu-adm>
            </div>
            <div class="col-sm-10 col-12 ">
        

    <h3>Editar Fornecedor</h3>
    <hr>
    <form novalidate="novalidate" (ngSubmit)="editarFornecedor()" [formGroup]="fornecedorForm">

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <input type="hidden" id="id" name="id" value="">
        <input type="hidden" id="enderecoId" name="enderecoId" value="">

        <div class="form-row">
            <div class="form-group col-md-6">

                <div>
                    <label class="control-label">Nome</label>
                    <div>
                        <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                        <span class="text-danger" *ngIf="displayMessage.nome">
                            <p [innerHTML]="displayMessage.nome"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Documento</label>
                    <div>
                        <input class="form-control" id="documento" type="text" placeholder="{{ textoDocumento }}" formControlName="documento" [textMask]="tipoFornecedorForm().value === '1' ? {mask: MASKS.cpf.textMask} : {mask: MASKS.cnpj.textMask}" [ngClass]="{'is-invalid': displayMessage.documento }"
                        />

                        <span class="text-danger" *ngIf="displayMessage.documento">
                            <p [innerHTML]="displayMessage.documento"></p>
                        </span>
                    </div>
                </div>

            </div>

            <div class="form-group col-md-6">
                <div>
                    <label class="control-label" for="TipoFornecedor">Tipo</label><br>
                    <input type="radio" value="1" id="tipoFornecedor" formControlName="tipoFornecedor" name="tipoFornecedor"> Pessoa Física<br>
                    <input type="radio" value="2" id="tipoFornecedor" formControlName="tipoFornecedor" name="tipoFornecedor"> Pessoa Jurídica
                </div>
                <div>
                    &nbsp;
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="ativo" formControlName="ativo" name="ativo" value="true"> Ativo?
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-primary">&nbsp;
            <a class="btn btn-info" [routerLink]="['/adm/fornecedores/listar-todos']">Voltar</a>
        </div>

       
    </form>

    <br>
    <app-lista-produtos [produtos]='produtos' [relacao]="' este Fornecedor'"> </app-lista-produtos>
</div>

</div>