<footer class=" footer text-muted ">
    <div class="container text-center mt-3">

        <div class="row" *ngIf="sobre != null">
            <div class="col-12 col-sm-4  mt-5">

                <span class="nome">
                    {{sobre.nomeEstabelecimento }}
                </span>
                <br>
                <span class="documento">

                    {{sobre.cnpj }}
                </span>
                
                <br>
                Horário de funcionamento {{sobre.horarioAbertura }}hrs : {{sobre.horarioFechamento}}hrs
                <br>
                <br>
                <a  class="link" [routerLink]="['/fale-conosco']" > Fale Conosco  </a> 

            </div>
            <div class="col-12 col-sm-4 mt-5 ">
               <h3>Categoriras </h3>  
               <div class="row">
               <span class="col-6" *ngFor="let categoria of categorias">
                <a  class="link" [routerLink]="['/adm/categoria/obter', categoria.id]" > {{categoria.nome}} </a>  
               </span>
            </div>
        </div>
            <div class="col-12 col-sm-4 my-5">
                <a class="navbar-brand text-white img-logo-footer " [routerLink]="['/home']">
                    <img class="img-logo-footer rounded" src="{{imagens}}/{{ sobre.imagem1 }}" >
                </a>
            </div>
        </div>

    </div>

</footer>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#6f87e0" type="ball-circus" [fullScreen]="true">
    <p style="color: white"> Carregando </p>
</ngx-spinner>