<div class="container main-container">

    <h1>Novo Fornecedor</h1>

    <hr>
    <div class="row">
        <div class="col-md-10">
            <form novalidate="novalidate" (ngSubmit)="adicionarFornecedor()" [formGroup]="fornecedorForm">

                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Ops!</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <div>
                        <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                        <span class="text-danger" *ngIf="displayMessage.nome">
                            <p [innerHTML]="displayMessage.nome"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Documento</label>
                    <div>
                        <input class="form-control" id="documento" type="text" placeholder="{{textoDocumento}}" formControlName="documento" [textMask]="tipoFornecedorForm().value === '1' ? {mask: MASK.cpf.textMask} : {mask: MASK.cnpj.textMask}" [ngClass]="{'is-invalid': displayMessage.documento }" />

                        <span class="text-danger" *ngIf="displayMessage.documento">
                            <p [innerHTML]="displayMessage.documento"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="TipoFornecedor">Tipo</label><br>
                    <input type="radio" value="1" id="tipoFornecedor" formControlName="tipoFornecedor" name="tipoFornecedor"> Pessoa Física<br>
                    <input type="radio" value="2" id="tipoFornecedor" formControlName="tipoFornecedor" name="tipoFornecedor"> Pessoa Jurídica
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="ativo" formControlName="ativo" name="ativo" value="true"> Ativo?
                    </label>
                </div>
              
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-info" [routerLink]="[ '/fornecedores/listar-todos']">Voltar</a>
                </div>

            
            </form>
        </div>
    </div>
</div>