<app-menu-categoria class="m-3"> </app-menu-categoria>

<h1 class="text-center m-3 titulo">
  Confirme seu pedido!
</h1>

<br>

<div class="row">

  <div class="col-12 p-5">
    <mat-card class="total-carrinho sucess">
      <h3> ITENS NO <span class="vermelho">PEDIDO</span> </h3>
      <br>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">QUANTIDADE</th>
            <th scope="col">ITEM</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itensCarrinho">
            <td>{{ item.quantidade }}</td>
            <td>{{ item.produto.nome }}</td>
            <td>{{ totalItem(item.quantidade , item.produto.precoVenda) | currency:'BRL':true }}</td>
          </tr>
          <tr>

        </tbody>
      </table>

    </mat-card>
  </div>

  <div class="col-12 col-sm-6">
    <mat-card class="total-carrinho sucess p-5">

      <h3> ENEDERECO PARA <span class="vermelho"> ENTREGA </span></h3>

      <br>
      Rua: <span class="vermelho text-uppercase">{{ enderecoCliente.rua }} </span>
      Nº: <span class="vermelho text-uppercase">{{ enderecoCliente.numero }} </span> <br>
      Bairro: <span class="vermelho text-uppercase">{{ enderecoCliente.bairro }} </span> <br>
      Cidade: <span class="vermelho text-uppercase">{{ enderecoCliente.cidade }} </span>,
      <span class="vermelho text-uppercase"> {{ enderecoCliente.estado }} </span>

    </mat-card>

  </div>

  <div class="col-12 col-sm-6">
    <mat-card class="total-carrinho sucess p-5">

      <h3> SELECIONE A FORMA DE <span class="vermelho">PAGAMENTO NA ENTREGA</span></h3>

      <mat-accordion>

        <mat-expansion-panel hideToggle *ngFor="let meio of meiosPagamento">
          <mat-expansion-panel-header *ngIf="meio.valorMinParcela < totalPedido || meio.id == 0">
            <mat-panel-title>
              <img class="img-icon-meio-pagamento" [src]="meio.img" alt="">
            </mat-panel-title>
            <mat-panel-description>
              {{
              meio.nome }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            <td>
              <span>
                &nbsp; Em até
                {{ calcularParcelamento(totalPedido, meio).totalParcela }}
                x de
                {{ calcularParcelamento(totalPedido, meio).valor | currency:'BRL':true }}


                <select class="form-control" id="exampleFormControlSelect1">
                  <option
                    *ngFor=" let a of returnArray(calcularParcelamento(totalPedido, meio).totalParcela), let i = index">
                    {{i+1}} X {{ calcularParcelamento(totalPedido, meio).valor / (i+1) | currency:'BRL':true }}
                  </option>
                </select>


                <div *ngIf="meio.id == 0">
                  &nbsp; Troco para:
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

                  </div>

                </div>

              </span>
            </td>
          </p>
        </mat-expansion-panel>
      </mat-accordion>


    </mat-card>

  </div>

</div>