a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.main-container {
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}


/* Sticky footer styles
  -------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 50px) {
    html {
        font-size: 16px;
    }
    .table-produt{
        font-size: 9px;
    }
    .text-pequeno{
   
        font-size:9px;
    }
    

}

@media (min-width: 800px) {
    html {
        font-size: 16px;
    }
    .table-produt{
        font-size: 12px;
    }
    .text-pequeno{
   
        font-size:14px;
    }
    
    .menu-top{
   
          
    }

}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


.bg-menu-categoria{


color: #35285a;
font-family: 'Gill Sans', 'Gill Sans MT';

border-radius:15px !important;

background: rgb(181,74,50);
background: linear-gradient(90deg, rgb(194, 99, 49) 0%, rgba(245,137,78,1)49%, rgb(238, 120, 57) 100%);

}


/* Sticky footer styles
  -------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: rgb(171,171,214);
    background: linear-gradient(90deg, rgba(171,171,214,0.5074404761904762) 0%, rgba(111,134,147,0.4290091036414566) 37%, rgba(214,171,183,0.4906337535014006) 72%);
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}

.corpo-site{
    background: rgba(253, 253, 253, 0.932);
    border-radius:20px !important;
    margin-top: 10px ; 
   z-index: 1 !important;

  
}

.app-menu{
    position: absolute;
  
}


.thead-2{
    background: rgb(181,74,50);
   background: linear-gradient(90deg, rgba(181,74,50,1) 0%, rgb(204, 41, 84) 49%, rgba(92,23,31,1) 100%);
    color: #e5e5e5;
    font-size: 12px;
}

.topo {
    z-index: -1 !important;
    height: 100px;
    background: rgb(181,74,50);
   background: linear-gradient(90deg, rgba(181,74,50,1) 0%, rgb(204, 41, 84) 49%, rgba(92,23,31,1) 100%);
   border-radius: 3px !important;
   border-top-left-radius:  0px !important;
   border-top-right-radius: 0px !important;
}


.text-buton-menu-top{
    font-size: 12px;
}

td{ color: #030000;}

.botton-cadastrar{
   background : #c7483f;
}

.btn-active-adm{
    color: #ffffff !important;
    background-color: #c7483f;
}

.btn-menu-adm{
   
    color: #c7483f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.btn-menu-adm:hover{
    color: #ffffff;
    background-color:#c7483f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}


.btn-menu-cat{
    text-decoration: none;
    color: #ffffff !important;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.btn-menu-cat:hover{
    text-decoration: none;
    color: #dddbdb !important;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}


h3{
    color: #c7483f;
    font-family: 'Times New Roman', Times, serif;
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    /* Vertically center the text there */

   /* background: rgba(253, 253, 253, 0.932); */

    background: rgb(181,74,50);
    background: linear-gradient(90deg, rgba(181,74,50,1) 0%, rgb(204, 41, 84) 49%, rgba(92,23,31,1) 100%);

    color:  white !important;
   
}

input,
select,
file,
textarea {
    max-width: 400px;
}