<header class="topo border-bottom  box-shadow bg-white">
    <nav class="navbar menu-pc navbar-expand-sm navbar-toggleable-sm navbar-dark menu-top">
        <div class="container">
            <a class="navbar-brand text-white " [routerLink]="['/home']">
                <img class="img-logo" src="{{imagens}}/{{ sobre.imagem1 }}">
            </a>
            <button class="navbar-toggler border-0 text-buton-menu-top" type="button" data-toggle="collapse"
                data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">

                <!--    (click)="isCollapsed = !isCollapsed" -->

                <app-menu-login></app-menu-login>
            </button>


            <div class="input-group ml-5">
                <input type="text" id="busca" #busca class="form-control" />
                <span class="input-group-btn">
                    <button (click)="buscar()" type="button" class="btn btn-default">
                        <i class="fa fa-search text-white fa-lg "></i>
                    </button>
                </span>

            </div>

            <button class="mx-1 carrinho-icon icone float-right" *ngIf="badge > 0" matBadge="{{badge}}"
                matBadgeColor="warn" mat-mini-fab [routerLink]="['/page']">
                <mat-icon>shopping_cart </mat-icon>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="isCollapsed">

                <app-menu-login></app-menu-login>

            </div>
        </div>
    </nav>



    <nav class="navbar menu-mobile navbar-expand-sm navbar-toggleable-sm navbar-dark menu-top">
        <div class="container">

            <div class="row text-center">
                <div class="col-2 "> <a class="navbar-brand text-white " [routerLink]="['/home']">
                        <img class="img-logo" src="{{imagens}}/{{ sobre.imagem1 }}">
                    </a></div>
                      <div class="col-5">
                </div>
                    <div class="col-2">
                        <app-menu-login></app-menu-login>
                    </div>
                <div class="col-12 my-5">
                    <div class="input-group ">
                        <input type="text" id="busca" #busca class="form-control" />
                        <span class="input-group-btn">
                            <button (click)="buscar()" type="button" class="btn btn-default">
                                <i class="fa fa-search text-white fa-lg "></i>
                            </button>                           
                        </span>          
                    </div>
                </div>
                <div class="col-2"> 
                </div>
              
               
            </div>
        </div>

    </nav>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large ">
            <button class="mr-3 carrinho-icon icone float-right" *ngIf="badge > 0" matBadge="{{badge}}"
                matBadgeColor="warn" mat-mini-fab [routerLink]="['/page']">
                <mat-icon>shopping_cart </mat-icon>
            </button>
        </a>
        </div>

</header>