<header class="topo border-bottom  box-shadow bg-white">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark menu-top">
        <div class="container my-sm-3">
            <a class="navbar-brand text-white " [routerLink]="['/home']">Meus Produtos</a>
            <button class="navbar-toggler border-0 text-buton-menu-top" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <app-menu-login></app-menu-login>
                </button>
                
                <input class="form-control mx-5 " type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <i class="fa fa-search text-white fa-lg "></i>
           
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="isCollapsed">

                <app-menu-login></app-menu-login>
      
            </div>
        </div>
    </nav>
</header>



<!-- <header>
    <nav class="navbar navbar-expand navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow header">
        <div class="container">
            <a class="navbar-brand text-white" [routerLink]="['/home']">Meus Produtos</a>
            <button class="navbar-toggler " type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse1 justify-content-center" [ngbCollapse]="isCollapsed">
 
          
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <i class="fas fa-search text-white"></i>

                <app-menu-login class="mx-5"> </app-menu-login>
             
            </div>
        </div>
    </nav>
</header> -->

<!-- border-bottom box-shadow header

justify-content-center

<a class="navbar-brand text-white" [routerLink]="['/home']">Meus Produtos</a>


<input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-success " type="submit">Pesquisar</button>

                <app-menu-login class="mx-5"></app-menu-login> -->